* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; In case of emergency*/ 
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.main-container {
  padding-top: 14vh;
  padding-bottom: 14vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.without-underline {
  text-decoration: none;
}
abbr {
  font-variant: all-small-caps;
}
video {
  aspect-ratio: 16/9;
  box-shadow: 0 0 10px 4px;
}